.header {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  min-height: 300px;
  padding: 1px 0;
}

.backgroundImage {
  transition: all 0.5s linear;
}

.content {
  position: relative;
  top: 45%;
  transform: translateY(-50%);
}
