.transparan {
  box-shadow: none;
  background: none;
}

.transparentDarker {
  color: #0e0e0f !important;
}

.regular {
  font-weight: normal !important;
  color: var(--color-text) !important;
}

.imageProfile {
  border-radius: 50%;
  padding-bottom: 100%;
}

.menu {
  font-family: "Lato";
}

.spanNama {
  padding-left: 5.5px;
  font-family: "Poppins";
}

/* Toggle switcher dark mode light mode */
.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  transform: translateY(-10%);
  width: 3.3em;
  height: 2.1rem;
}

.checkboxInput {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.checkboxInput:checked + .slider {
  background-color: #2196f3;
}

.checkboxInput:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.checkboxInput:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.sliderRound {
  border-radius: 34px;
}

.sliderRound:before {
  border-radius: 50%;
}
