.container {
  text-align: left;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 75px 0;
}

.heading {
  font-family: "Lato";
  font-size: 2.8em;
  padding: 0 0;
}

.text {
  font-family: "Poppins";
}

.repoText {
  font-family: "Poppins";
  font-weight: normal;
  margin-bottom: 15px !important;
}

.card {
  min-height: 250px;
  background-color: var(--color-background-secondary);
  border-color: var(--color-border-second);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card:hover {
  transform: translateY(-3px);
}

@media (max-width: 1366px) {
  .card {
    min-height: 520px;
  }
}

@media (max-width: 1005px) {
  .card {
    min-height: 486px;
  }
}

@media (max-width: 899px) {
  .card {
    min-height: 450px;
  }
}

@media (max-width: 799px) {
  .card {
    width: 100%;
    min-height: 100px;
  }
}

.repoName {
  font-family: "Lato";
  margin-top: 24px !important;
  text-align: center;
  width: 100%;
}

.projectContainer {
  margin-top: 2em;
}

.projectAnchor {
  color: inherit;
  font-size: 1.6em;
}

.projectFooter {
  text-align: center;
}

.imageWrapper {
  height: 16em;
  position: relative;
}

@media (max-width: 1122px) {
  .container {
    padding: 75px 20px;
  }
}

@media (max-width: 1092px) {
  .imageWrapper {
    height: 15em;
  }
}

@media (max-width: 1032px) {
  .imageWrapper {
    height: 14em;
  }
}

@media (max-width: 978px) {
  .imageWrapper {
    height: 13em;
  }
}

@media (max-width: 902px) {
  .imageWrapper {
    height: 12em;
  }
}

@media (max-width: 839px) {
  .imageWrapper {
    height: 11em;
  }
}

@media (max-width: 799px) {
  .imageWrapper {
    height: 22em;
  }
}

@media (max-width: 743px) {
  .imageWrapper {
    height: 20em;
  }
}

@media (max-width: 681px) {
  .imageWrapper {
    height: 18em;
  }
}

@media (max-width: 622px) {
  .imageWrapper {
    height: 16em;
  }
}

@media (max-width: 562px) {
  .imageWrapper {
    height: 14em;
  }
}

@media (max-width: 499px) {
  .imageWrapper {
    height: 12em;
  }
}

@media (max-width: 439px) {
  .imageWrapper {
    height: 10em;
  }
}

@media (max-width: 380px) {
  .imageWrapper {
    height: 8em;
  }
}
