.container {
  text-align: left;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 75px 0;
}

.heading {
  font-family: "Lato";
  font-size: 2.8em;
}

.header {
  padding: 1.9em !important;
}

.card {
  min-height: 305.8px;
  border-color: var(--color-border-card);
  background-color: var(--color-background-secondary);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card:hover {
  transform: translateY(-5px);
}

.cardHeading {
  font-family: "Lato";
  font-size: 1.2em;
}

.cardItemList {
  margin-top: 1.2em;
}

.cardItem {
  font-weight: normal;
  font-family: "Poppins";
}

@media (max-width: 1100px) {
  .container {
    padding: 75px 20px;
  }
}
